
.first__screen{
    background: url(../img/first_screen/texture.jpg) center center / cover  no-repeat;
}
.container{
    width: 940px;
    margin: 0 auto;
    height: 100vh;
}

.screen__menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 10px;
    margin-bottom: -8px;
    position: relative;
}
.menu__logo{
    flex: 1 1 auto;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__item{
    position: relative;
    margin-right: 16px;
    font-weight: 400;
    color: #fff; 
    padding-right: 16px;
}
.nav__item:first-child{
    list-style-type: none;
}
.nav__item:last-child{
    padding: 0;
    margin-right: 9px;
}

.item__link{
    display: inline-block;
    margin-right: 0px;
    color: #efefef;
    text-decoration: none;
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
}

.button__display{
    background-color: #e45028;
    color: #fff;
    width: 97px;
    height: 35px;
    border: none;
    border-radius: 5px;
}
.button__display:hover{
    background-color: #c1401e;
}
.menu__points{
    position: absolute;
    right: -36px;
    top: 89px;
}
.points__list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.points__item {
        display: block;
        width: 5px;
        height: 5px;
        background: #fff;
        font-size: 0;
        border-radius: 50%;
        margin: 8px;
        position: relative;
        cursor: pointer;
}
.points__item-active::before {
    content: "";
    display: block;
    position: absolute;
    top: -95%;
    left: -95%;
    width: 15px;
    height: 15px;
    border: 1px solid white;
    border-radius: 50%;
    }
.points__item:hover::before {
content: "";
display: block;
position: absolute;
top: -95%;
left: -95%;
width: 15px;
height: 15px;
border: 1px solid white;
border-radius: 50%;
}
.screen__content-wrapper{
    display: flex;
    margin-bottom: 81px;
    align-items: center;
}
.content__pic{
    position: relative;
    margin-left: 52px;
}
.pic__drops{
    position: absolute;
    top: 16%;
    left: -8%;
    transform: translate(-50% -50%);
}

.content__text{
    padding-left: 12px;
    color: #efefef;
    display: flex;
    flex-direction: column;

}
.text__big{
    display: inline-block;
    font-family: 'gagalin';
    font-size: 75px;
    letter-spacing: -0.022em;
    margin-top: 75px;
    margin-bottom: 10px;
    color: #f9b43b;
}
.text__regular{
    display: inline-block;
    font-family: 'lifehack';
    font-size: 65px;
    letter-spacing: -0.1rem;
    line-height: 1.01em;
    margin: 0px;
}
.screen__arrow-scroll {
    height: 29px;
    background: url(../img/first_screen/arrow-scroll.png) center center no-repeat;
}
