@import url(./layout/normalize.css);
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html {
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  @media screen and (max-width: 768px) {
    html {
      font-size: 15px; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 13px; } }

html, body {
  height: 100%; }

body {
  font-family: 'ubuntu', helvetica, serif;
  font-size: 1rem;
  line-height: 1,42;
  position: relative;
  color: #2f3234; }

.container {
  width: 95%;
  margin: 0 auto;
  position: relative;
  max-width: 58.75rem;
  height: 100vh; }

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden; }

ul {
  margin: 0;
  padding: 0; }

ul, li {
  list-style-type: none; }

.section {
  height: 100vh;
  min-height: 40.625rem; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

address {
  text-decoration: none; }

@font-face {
  font-family: 'gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu-b-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }
.first__screen {
  background: url(../img/first_screen/texture.jpg) center center/cover no-repeat; }

.first__screen__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.maincontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5.0625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media screen and (max-width: 768px) {
    .maincontent {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }

.main__pic {
  position: relative;
  margin-left: 3.25rem; }
  @media screen and (max-width: 480px) {
    .main__pic {
      width: 100%;
      height: auto; } }

.pic__burger {
  width: 100%;
  height: auto; }

.pic__drops {
  position: absolute;
  top: 16%;
  left: -3%;
  -webkit-transform: translate(-50% -50%);
          transform: translate(-50% -50%);
  width: 100%;
  height: auto; }

.main__text {
  padding-left: 0.75rem;
  padding-top: 3.75rem;
  color: #efefef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media screen and (max-width: 768px) {
    .main__text {
      padding-top: 0.625rem;
      text-align: center; } }

.title {
  display: inline-block;
  font-family: 'gagalin';
  font-size: 4.375rem;
  letter-spacing: 0.02em; }
  .title__yellow {
    color: #f9b43b;
    font-size: 4.6875rem; }

.text__regular {
  display: inline-block;
  font-family: 'lifehack';
  font-size: 4.0625rem;
  letter-spacing: -0.1rem;
  line-height: 1.01em;
  margin: 0rem; }
  @media screen and (max-width: 768px) {
    .text__regular {
      width: 99%;
      text-align: center; } }

.arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.arrow-scroll {
  width: 1.8125rem;
  height: 0.875rem; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 0.625rem;
  position: relative; }

.logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.logo-icon {
  width: 5.625rem;
  height: 4.375rem; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media screen and (max-width: 768px) {
    .nav__list {
      display: none; } }

.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
  font-weight: 400;
  text-align: center; }
  .nav__item:before {
    content: "";
    display: block;
    margin-right: 0.625rem;
    width: 0.1875rem;
    height: 0.1875rem;
    border: 0.1875rem solid #fff;
    border-radius: 50%; }

.nav__item:first-child:before {
  display: none; }

.item__link {
  color: #efefef;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.8125rem;
  text-transform: uppercase; }

.button {
  cursor: pointer;
  color: #fff;
  width: 6.25rem;
  height: 2.1875rem;
  border: none;
  border-radius: 0.3125rem; }
  .button__red {
    background-color: #e45028; }
    .button__red:hover {
      background-color: #c1401e; }

.we__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  @media screen and (max-width: 480px) {
    .we__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0.625rem; }
  @media screen and (max-width: 480px) {
    .list__item {
      -webkit-box-orient: initial;
      -webkit-box-direction: initial;
          -ms-flex-direction: initial;
              flex-direction: initial; } }

.item__icon {
  width: 6.0625rem;
  height: 5.5625rem;
  margin-bottom: 2.375rem; }
  @media screen and (max-width: 480px) {
    .item__icon {
      margin-right: 1.5625rem; } }

.item__title {
  -ms-flex-item-align: center;
      align-self: center;
  font-family: 'lifehack';
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1.25rem; }
  @media screen and (max-width: 480px) {
    .item__title {
      text-align: initial; } }

.item__text {
  font-family: 'ubuntu';
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.5em; }

.order {
  background: url(../img/form/bg-texture.jpg) center center/cover no-repeat;
  font-weight: 300; }

.order__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

@media screen and (max-width: 768px) {
  .order__title {
    text-align: center;
    margin-bottom: 2rem; } }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .form {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }

.form__column {
  width: 50%; }
  @media screen and (max-width: 768px) {
    .form__column {
      width: 75%; } }
  @media screen and (max-width: 480px) {
    .form__column {
      width: 98%; } }
  @media screen and (max-width: 480px) {
    .form__column--center {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }

.form__row {
  color: #fff;
  margin-bottom: 0.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media screen and (max-width: 480px) {
    .form__row--margin {
      margin-bottom: 2.5rem; } }

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 0.9375rem; }
  @media screen and (max-width: 480px) {
    .form__block--invisible {
      display: none; } }

.form__text {
  margin-bottom: 0.625rem; }

.form__input {
  border: initial;
  padding: 0.875rem 0.9375rem;
  width: 100%;
  border-radius: 0.3125rem;
  border: 0.1875rem solid transparent; }
  .form__input:focus {
    border: 0.1875rem solid #f9b43b; }

.form__area {
  padding: 0.625rem;
  resize: vertical;
  border: 0.1875rem solid transparent;
  border-radius: 0.3125rem;
  width: 100%;
  height: 9.0625rem; }
  .form__area:focus {
    outline: none;
    border: 0.1875rem solid #f9b43b; }
  @media screen and (max-width: 480px) {
    .form__area {
      width: 30.9375rem; } }

.payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1.25rem;
  cursor: pointer;
  margin-bottom: 1.5625rem; }

.payment__radio {
  display: none; }

.payment__radio__fake {
  display: block;
  width: 1.0625rem;
  height: 1.0625rem;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 0.4375rem;
  position: relative; }
  .payment__radio__fake:before {
    content: "";
    display: block;
    width: 0.4375rem;
    height: 0.4375rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

.payment__radio:checked ~ .payment__radio__fake:before {
  background-color: #e45028;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.recall_request {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer; }

.checkbox {
  display: none; }
  .checkbox:checked ~ .checkbox__fake {
    background-image: url(../img/form/checkmark.jpg);
    background-position: center;
    background-repeat: no-repeat; }

.checkbox__fake {
  content: "";
  display: block;
  position: relative;
  width: 1.0625rem;
  height: 1.0625rem;
  background-color: #fff;
  margin-right: 0.625rem; }
  .checkbox__fake:before {
    content: "";
    display: block;
    width: 1.0625rem;
    height: 0.8125rem; }

.reset__form {
  background: none;
  border: none;
  color: #fff;
  margin-left: 1.5625rem;
  cursor: pointer; }

.we {
  width: 100%;
  background: url(../img/we/bg.jpg) center center/cover no-repeat; }

.we__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.title__black {
  margin-bottom: 3.125rem; }

.feedback__list {
  background: #2f3234;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  color: #fff; }

.feedback__item {
  width: 25%;
  height: 50%;
  position: relative;
  background-position: center;
  background-size: cover; }
  @media screen and (max-width: 768px) {
    .feedback__item {
      width: 50%;
      height: 25%; } }
  .feedback__item .feedback__content {
    background-color: rgba(20, 20, 20, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    padding: 3.125rem 1.875rem 0.9375rem 1.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    opacity: 0;
    height: 100%;
    width: 100%; }
    @media screen and (max-width: 768px) {
      .feedback__item .feedback__content {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
    .feedback__item .feedback__content .content__text {
      overflow: hidden; }
      @media screen and (max-width: 480px) {
        .feedback__item .feedback__content .content__text {
          display: none; } }
    .feedback__item .feedback__content:hover {
      opacity: 1;
      -webkit-transition: 0.5s;
      transition: 0.5s; }

.content__user {
  margin-bottom: 1.375rem;
  font-family: 'gagalin';
  font-size: 0.875rem; }
  @media screen and (max-width: 480px) {
    .content__user {
      font-size: 1.5rem;
      text-align: center; } }

.content__text {
  font-family: 'ubuntu';
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.70em;
  margin: 0 0 1.5625rem 0; }

.button__black {
  background-color: #2f3234;
  width: 6.875rem;
  height: 2.1875rem; }
  .button__black:hover {
    cursor: pointer;
    background: #1f2122; }

.menu__points {
  position: fixed;
  right: 3.125rem;
  top: 5.625rem; }

.points__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.points__item {
  display: block;
  width: 0.3125rem;
  height: 0.3125rem;
  background: #fff;
  font-size: 0;
  border-radius: 50%;
  margin: 0.5rem;
  position: relative;
  cursor: pointer; }

.points__item-active::before {
  content: "";
  display: block;
  position: absolute;
  top: -95%;
  left: -95%;
  width: 0.9375rem;
  height: 0.9375rem;
  border: 0.0625rem solid white;
  border-radius: 50%; }

.points__item:hover::before {
  content: "";
  display: block;
  position: absolute;
  top: -95%;
  left: -95%;
  width: 0.9375rem;
  height: 0.9375rem;
  border: 0.0625rem solid white;
  border-radius: 50%; }

.team {
  background: url(../img/team/bg_team.jpg) center center/cover no-repeat;
  position: relative; }

.team-accordeon {
  position: absolute;
  top: 0rem;
  top: 0;
  bottom: 0;
  right: 0;
  left: 49.5%;
  height: 100%;
  background: rgba(62, 64, 66, 0.93);
  padding-top: 6.5625rem;
  padding-left: 6.25rem; }
  @media screen and (max-width: 768px) {
    .team-accordeon {
      left: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding-left: 0rem; } }

.team__title {
  margin-bottom: 3.4375rem; }

.team-accordeon__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 768px) {
    .team-accordeon__list {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }

@media screen and (max-width: 768px) {
  .team-accordeon__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

.team-accordeon__trigger {
  font-family: 'gagalin', Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  margin-bottom: 1.5625rem; }
  .team-accordeon__trigger::before {
    content: "";
    display: block;
    width: 0.625rem;
    height: 0.375rem;
    margin-right: 0.625rem;
    background: url(../img/team/btn_up.png) center center no-repeat; }
  @media screen and (max-width: 768px) {
    .team-accordeon__trigger {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }

.team-accordeon__trigger--active {
  color: #f9b43b; }
  .team-accordeon__trigger--active::before {
    background: url(../img/team/btn_down.png) center center no-repeat; }

.team-accordeon__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  width: 21.875rem;
  height: 0;
  overflow: hidden;
  line-height: 1.42; }
  @media screen and (max-width: 768px) {
    .team-accordeon__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center; } }

.team-accordeon__trigger--active + .team-accordeon__content {
  height: 100%;
  margin-bottom: 1.875rem; }

.team-accordeon__content-photo {
  margin-left: 1.5625rem;
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 100%;
  margin-right: 1.25rem; }

.team-accordeon__occupation {
  font-weight: 700;
  margin-bottom: 0.625rem; }

.menu {
  background: url(../img/menu/bg_menu.jpg) center center/cover no-repeat;
  position: relative; }

.menu__title {
  position: absolute;
  top: 6.875rem;
  left: 4.6875rem;
  color: white; }
  @media screen and (max-width: 768px) {
    .menu__title {
      overflow: hidden; } }
  @media screen and (max-width: 480px) {
    .menu__title {
      display: none; } }

.menu-accordeon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%; }

.menu-accordeon__list {
  color: #fff;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%; }

.menu-accordeon__item {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.menu-accordeon__triger {
  display: inline-block;
  min-width: 5rem;
  width: 5rem;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat; }

.menu-accordeon__triger-text {
  text-decoration: none;
  font-size: 40px;
  color: #FFF;
  position: absolute;
  font-family: 'gagalin', helvetica, sans-serif;
  top: 90%;
  left: 50%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  white-space: nowrap;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%; }
  .menu-accordeon__triger-text--active {
    color: #f9b43b; }

.menu-accordeon__cont {
  width: 0;
  overflow: hidden;
  z-index: 2; }
  .menu-accordeon__cont--active {
    width: 34.375rem;
    background-color: rgba(59, 57, 54, 0.93); }

.menu-accordeon__text {
  padding: 4.375rem 2.5rem; }

.map {
  background: url(../img/map/map.jpg) center center/cover no-repeat; }

.footer {
  background: url(../img/footer/footer-bg.jpg) center center/cover no-repeat;
  position: absolute;
  width: 100%;
  height: 3.75rem;
  color: #fff;
  overflow: hidden; }
  @media screen and (max-width: 480px) {
    .footer {
      height: 6.875rem;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media screen and (max-width: 480px) {
    .footer-wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }

.col {
  width: 50%;
  padding-top: 0.9375rem; }
  @media screen and (max-width: 480px) {
    .col {
      width: 98%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }

.adress {
  font-family: 'ubuntu', helvetica, sans-serif;
  font-style: normal;
  font-size: 0.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  @media screen and (max-width: 480px) {
    .adress {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .adress__street {
    margin-bottom: 0.3125rem; }
  .adress__tel {
    text-decoration: none;
    color: #e45028;
    font-weight: 500;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .adress__tel::before {
      content: "";
      background: url(../img/footer/phone.png) center center no-repeat;
      display: block;
      margin-right: 0.3125rem;
      width: 0.625rem;
      height: 0.625rem; }

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.socials__item {
  margin-right: 1.25rem; }
  .socials__item:last-child {
    margin-right: 0; }

.socials__item-link {
  display: block;
  width: 1.25rem;
  height: 1.25rem; }

.item-icon {
  width: 1.25rem;
  height: 1.25rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  fill: #5b5b5b; }
  .item-icon:hover {
    fill: #fff; }

.hamburger-menu {
  margin-left: 1.5625rem;
  padding-top: 0.4375rem;
  width: 1.5625rem;
  height: 2.1875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  cursor: pointer; }
  @media screen and (max-width: 768px) {
    .hamburger-menu {
      display: initial; } }

.hamburger-menu__1 {
  width: 100%;
  border-radius: 0.0625rem;
  border: 0.125rem solid #fff;
  margin-bottom: 0.3125rem; }

.hamburger-menu__2 {
  width: 100%;
  border-radius: 0.0625rem;
  border: 0.125rem solid #fff;
  margin-bottom: 0.3125rem; }

.hamburger-menu__3 {
  width: 100%;
  border-radius: 0.0625rem;
  border: 0.125rem solid #fff;
  margin-bottom: 0.3125rem; }

.burgers {
  background: #f9b43b;
  background: -webkit-gradient(linear, left bottom, left top, from(#f9b43b), color-stop(50%, #eb8c38), to(#f9b43b));
  background: linear-gradient(0deg, #f9b43b 0%, #eb8c38 50%, #f9b43b 100%);
  padding: 0 3%; }

.burgers__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative; }
  @media screen and (max-width: 768px) {
    .slider {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.slider__cont__item {
  color: #fff; }
  @media screen and (max-width: 768px) {
    .slider__cont__item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      text-align: center;
      width: 95%; } }

.title__white {
  color: #fff;
  margin-bottom: 1.5625rem; }

.cont__text {
  line-height: 2;
  margin-bottom: 0.9375rem; }

.slider__order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }
  @media screen and (max-width: 768px) {
    .slider__order {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }

.cont__price {
  font-family: 'gagalin';
  letter-spacing: 0.02em;
  color: #e45028;
  font-size: 4.375rem;
  margin-right: 0.625rem; }
  .cont__price--currency {
    font-size: 2.5rem;
    margin-right: 1.25rem; }

.arrow__btn--left {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }

.arrow__btn--right {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg); }

.slider__hide-menu {
  position: absolute;
  top: -20%; }
  @media screen and (max-width: 768px) {
    .slider__hide-menu {
      top: -10%; } }

.hide-menu__btn {
  background-color: #f08c33;
  border-radius: 0.4375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 20px;
  cursor: pointer; }
  .hide-menu__btn:hover {
    background-color: #e35028; }
  .hide-menu__btn:hover .hide-menu__wrapper {
    visibility: initial; }

.hide-menu__img-pic {
  margin-bottom: 0.25rem; }

.hide-menu__text {
  color: #fff;
  font-family: 'gagalin', sans-serif;
  font-size: 0.75rem; }

.hide-menu__wrapper {
  visibility: hidden; }

.hide-menu__list {
  width: 16.875rem;
  height: 21.875rem;
  position: absolute;
  border-radius: 0.3125rem;
  top: 0%;
  left: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.25rem 1.5625rem; }

.hide-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.hide-menu__item__pic {
  margin-right: 0.9375rem; }

.hide-menu__item__ingredient {
  -webkit-box-flex: 0.9;
      -ms-flex: 0.9;
          flex: 0.9; }

.hide-menu__cross {
  background: #CD6D45;
  height: 10px;
  width: 2px;
  position: relative;
  left: 0.625rem;
  top: -1.5625rem;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  display: none; }
  @media screen and (max-width: 768px) {
    .hide-menu__cross {
      display: initial; } }
  .hide-menu__cross:after {
    content: "";
    height: 2px;
    width: 10px;
    background: #CD6D45;
    position: absolute;
    left: -4px;
    top: 4px; }

.slider__kall {
  position: absolute;
  top: 100%;
  color: #fff;
  opacity: 0.5; }
  @media screen and (max-width: 768px) {
    .slider__kall {
      top: -8%;
      left: 80%; } }

.slider__kall-val {
  position: absolute;
  top: 50%;
  left: 25%;
  font-family: 'gagalin';
  font-size: 20px; }

.slider__kall-text {
  position: absolute;
  left: 25%;
  font-family: 'gagalin';
  font-size: 15px; }

body.blocked-scroll {
  overflow: hidden; }

.fullscreen-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 0.625rem 1.5625rem;
  background-color: #2f3234;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 10000; }

.fullscreen-menu__list {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.fullscreen-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  margin-bottom: 1.875rem; }
  .fullscreen-menu__item:before {
    content: "";
    display: block;
    margin-bottom: 1.875rem;
    width: 0.125rem;
    height: 0.125rem;
    border: 0.125rem solid #fff;
    border-radius: 50%; }

.fullscreen-menu__item:first-child:before {
  display: none; }

.item__link {
  color: #efefef;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.8125rem;
  text-transform: uppercase; }

.fullscreen-menu__close {
  background: #c1c2c2;
  height: 20px;
  width: 4px;
  position: relative;
  left: -1.875rem;
  top: 1.875rem;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }
  .fullscreen-menu__close:after {
    content: "";
    height: 4px;
    width: 20px;
    background: #c1c2c2;
    position: absolute;
    left: -8px;
    top: 8px; }
/*# sourceMappingURL=main.css.map */