//colors
$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red:  #e35028;

//breakpoints
$pc: 940px;
$tablets: 768px;
$phones: 480px;

//normalize
@import "./layout/normalize.scss";

//for adaptive
@import './_misc/_media.scss';

//layout
@import "./layout/_layout.scss";
@import "./layout/_fonts.scss";
//blocks
@import "./blocks/_firstpage.scss";
@import "./blocks/_buttons.scss";
@import "./blocks/_titles.scss";
@import "./blocks/_firstpagecontent.scss";
@import "./blocks/_arrow.scss";
@import "./blocks/_header.scss";
@import "./blocks/_we__list.scss";
@import "./blocks/_form.scss";
@import "./blocks/_we.scss";
@import "./blocks/_feedback.scss";
@import "./blocks/_workflow.scss";
@import "./blocks/_sidemenu.scss";
@import "./blocks/_team.scss";
@import "./blocks/_team__acord.scss";
@import "./blocks/_menu.scss";
@import "./blocks/_menu-accordeon.scss";
@import "./blocks/_map.scss";
@import "./blocks/_footer.scss";
@import "./blocks/_address.scss";
@import "./blocks/_socials.scss";
@import "./blocks/_hamburger-menu.scss";
@import "./blocks/_burgers.scss";
@import "./blocks/_burgers__slider.scss";
@import "./blocks/_hide_menu.scss";
@import "./blocks/_kall.scss";
@import "./blocks/_fullscreen-menu.scss";
@import "./blocks/_popup.scss";
@import "./blocks/_player.scss";