@import url(./layout/normalize.css);
*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  font-family: 'ubuntu', helvetica, serif;
  font-size: 16px;
  line-height: 1,42;
  position: relative;
  color: #2f3234; }

.wrapper {
  position: relative;
  width: 100%;
  min-width: 960px;
  min-height: 100%;
  overflow: hidden;
  margin-bottom: -60px; }

ul {
  margin: 0;
  padding: 0; }

ul, li {
  list-style-type: none; }

.section {
  width: 100%;
  min-width: 1100px;
  height: 100vh;
  min-height: 650px; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

.container {
  width: 940px;
  margin: 0 auto;
  height: 100vh; }

address {
  text-decoration: none; }

@font-face {
  font-family: 'gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu-b-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }
.first__screen {
  background: url(../img/first_screen/texture.jpg) center center/cover no-repeat; }

.first__screen__container {
  display: flex;
  flex-direction: column; }

.maincontent {
  display: flex;
  margin-bottom: 81px;
  align-items: center;
  flex: 1; }

.main__pic {
  position: relative;
  margin-left: 52px; }

.pic__drops {
  position: absolute;
  top: 16%;
  left: -8%;
  transform: translate(-50% -50%); }

.main__text {
  padding-left: 12px;
  padding-top: 60px;
  color: #efefef;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.title {
  display: inline-block;
  font-family: 'gagalin';
  font-size: 70px;
  letter-spacing: 0.02em; }
  .title__yellow {
    color: #f9b43b;
    font-size: 75px; }

.text__regular {
  display: inline-block;
  font-family: 'lifehack';
  font-size: 65px;
  letter-spacing: -0.1rem;
  line-height: 1.01em;
  margin: 0px; }

.arrow {
  display: flex;
  justify-content: center; }

.arrow-scroll {
  width: 29px;
  height: 14px; }

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  position: relative; }

.logo {
  flex: 1; }

.logo-icon {
  width: 90px;
  height: 70px; }

.nav {
  display: flex;
  align-items: center;
  justify-content: center; }

.nav__list {
  display: flex;
  align-items: center; }

.nav__item {
  display: flex;
  align-items: center;
  margin-right: 16px;
  font-weight: 400;
  text-align: center; }
  .nav__item:before {
    content: "";
    display: block;
    margin-right: 10px;
    width: 4px;
    height: 4px;
    border: 4px solid #fff;
    border-radius: 50%; }

.nav__item:first-child:before {
  display: none; }

.item__link {
  color: #efefef;
  text-decoration: none;
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase; }

.button {
  cursor: pointer;
  color: #fff;
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 5px; }
  .button__red {
    background-color: #e45028; }
    .button__red:hover {
      background-color: #c1401e; }

.we__list {
  list-style-type: none;
  display: flex;
  justify-content: flex-start; }

.list__item {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  margin-right: 10px; }

.item__icon {
  width: 97px;
  height: 89px;
  margin-bottom: 38px; }

.item__title {
  align-self: center;
  font-family: 'lifehack';
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px; }

.item__desc {
  font-family: 'ubuntu';
  text-align: center;
  font-size: 14px;
  line-height: 1.5em; }

.order {
  background: url(../img/form/bg-texture.jpg) center center/cover no-repeat;
  font-family: 'ubuntu';
  font-weight: 300; }

.order__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.form {
  display: flex; }

.form__column {
  width: 50%; }

.form__row {
  color: #fff;
  margin-bottom: 15px;
  display: flex;
  align-items: center; }

.form__block {
  flex: 1;
  margin-right: 15px; }

.form__text {
  margin-bottom: 10px; }

.form__input {
  border: initial;
  padding: 14px 15px;
  width: 100%;
  border-radius: 5px;
  border: 3px solid transparent; }
  .form__input:focus {
    border: 3px solid #f9b43b; }

.form__area {
  padding: 10px;
  resize: vertical;
  border: 3px solid transparent;
  border-radius: 5px;
  width: 100%;
  height: 145px; }
  .form__area:focus {
    outline: none;
    border: 3px solid #f9b43b; }

.payment {
  display: flex;
  margin-right: 20px;
  cursor: pointer;
  margin-bottom: 25px; }

.payment__radio {
  display: none; }

.payment__radio__fake {
  display: block;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 7px;
  position: relative; }
  .payment__radio__fake:before {
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.payment__radio:checked ~ .payment__radio__fake:before {
  background-color: #e45028;
  transition: 0.3s; }

.recall_request {
  display: flex;
  cursor: pointer; }

.checkbox {
  display: none; }
  .checkbox:checked ~ .checkbox__fake {
    background-image: url(../img/form/checkmark.jpg);
    background-position: center;
    background-repeat: no-repeat; }

.checkbox__fake {
  content: "";
  display: block;
  position: relative;
  width: 17px;
  height: 17px;
  background-color: #fff;
  margin-right: 10px; }
  .checkbox__fake:before {
    content: "";
    display: block;
    width: 17px;
    height: 13px; }

.reset__form {
  background: none;
  border: none;
  color: #fff;
  margin-left: 25px;
  cursor: pointer; }

.we {
  width: 100%;
  background: url(../img/we/bg.jpg) center center/cover no-repeat; }

.we__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.title__black {
  margin-bottom: 50px; }

.feedback__list {
  background: #2f3234;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style-type: none;
  color: #fff; }

.feedback__pic {
  width: 100%;
  height: 100%; }

.feedback__item {
  width: 25%;
  height: 50%;
  position: relative; }
  .feedback__item .feedback__content {
    background-color: rgba(20, 20, 20, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    padding: 50px 30px 15px 20px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    height: 100%;
    width: 100%; }
    .feedback__item .feedback__content .content__text {
      overflow: hidden; }
    .feedback__item .feedback__content:hover {
      opacity: 1;
      transition: 1.5s; }

.content__user {
  margin-bottom: 22px;
  font-family: 'gagalin';
  font-size: 14px; }

.content__text {
  font-family: 'ubuntu';
  font-size: 14px;
  font-weight: 300;
  line-height: 1.70em;
  margin: 0 0 25px 0; }

.button__black {
  background-color: #2f3234;
  width: 110px;
  height: 35px; }
  .button__black:hover {
    cursor: pointer;
    background: #1f2122; }

.menu__points {
  position: fixed;
  right: 50px;
  top: 90px; }

.points__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

.points__item {
  display: block;
  width: 5px;
  height: 5px;
  background: #fff;
  font-size: 0;
  border-radius: 50%;
  margin: 8px;
  position: relative;
  cursor: pointer; }

.points__item-active::before {
  content: "";
  display: block;
  position: absolute;
  top: -95%;
  left: -95%;
  width: 15px;
  height: 15px;
  border: 1px solid white;
  border-radius: 50%; }

.points__item:hover::before {
  content: "";
  display: block;
  position: absolute;
  top: -95%;
  left: -95%;
  width: 15px;
  height: 15px;
  border: 1px solid white;
  border-radius: 50%; }

.team {
  background: url(../img/team/bg_team.jpg) center center/cover no-repeat;
  position: relative; }

.team-accordeon {
  position: absolute;
  top: 0px;
  left: 49.5%;
  width: 50.5%;
  height: 100%;
  background: rgba(62, 64, 66, 0.93);
  padding-top: 105px;
  padding-left: 100px; }

.title__yellow {
  margin-bottom: 55px; }

.team-accordeon__list {
  display: flex;
  flex-direction: column; }

.team-accordeon__trigger {
  font-family: 'gagalin', Helvetica, sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  color: #fff;
  margin-bottom: 15px; }
  .team-accordeon__trigger::before {
    content: "";
    display: block;
    width: 10px;
    height: 6px;
    margin-right: 10px;
    background: url(../img/team/btn_up.png) center center no-repeat; }

.team-accordeon__trigger--active {
  font-family: 'gagalin', Helvetica, sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  color: #f9b43b; }
  .team-accordeon__trigger--active::before {
    content: "";
    display: block;
    width: 10px;
    height: 6px;
    margin-right: 10px;
    background: url(../img/team/btn_down.png) center center no-repeat; }

.team-accordeon__content {
  display: flex;
  color: #fff;
  width: 350px;
  height: 0;
  overflow: hidden;
  line-height: 1.42; }

.team-accordeon__trigger--active + .team-accordeon__content {
  height: 100%;
  margin-bottom: 30px; }

.team-accordeon__content-photo {
  margin-left: 25px;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin-right: 20px; }

.team-accordeon__occupation {
  font-weight: 700;
  margin-bottom: 10px; }

.menu {
  background: url(../img/menu/bg_menu.jpg) center center/cover no-repeat;
  position: relative; }

.menu-accordeon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0; }

.menu-accordeon__item {
  height: 100%; }

.menu-accordeon__triger {
  text-decoration: none;
  font-size: 40px;
  color: #FFF;
  font-family: 'gagalin', helvetica, sans-serif;
  width: 80px;
  white-space: nowrap;
  height: 100%; }

.menu-accordeon__triger-text {
  font-size: 40px;
  text-align: center;
  white-space: nowrap;
  position: absolute;
  transform: rotate(-90deg) translateY(-50%);
  transform-origin: 0 0;
  left: 50%;
  top: 100%;
  margin-top: -20px; }

.map {
  background: url(../img/map/map.jpg) center center/cover no-repeat; }

.footer {
  background: url(../img/footer/footer-bg.jpg) center center/cover no-repeat;
  position: absolute;
  width: 100%;
  min-width: 960px;
  height: 60px;
  color: #fff;
  overflow: hidden; }

.footer-wrapper {
  display: flex;
  justify-content: space-between; }

.col {
  width: 50%;
  padding-top: 15px; }

.adress {
  font-family: 'ubuntu', helvetica, sans-serif;
  font-style: normal;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }
  .adress__street {
    margin-bottom: 5px; }
  .adress__tel {
    text-decoration: none;
    color: #e45028;
    font-weight: 500;
    display: flex;
    align-items: center; }
    .adress__tel::before {
      content: "";
      background: url(../img/footer/phone.png) center center no-repeat;
      display: block;
      margin-right: 5px;
      width: 10px;
      height: 10px; }

.socials__list {
  display: flex;
  justify-content: flex-end; }

.socials__item {
  margin-right: 20px; }
  .socials__item:last-child {
    margin-right: 0; }

.socials__item-link {
  display: block;
  width: 20px;
  height: 20px; }

.item-icon {
  width: 20px;
  height: 20px;
  transition: 0.3s;
  fill: #5b5b5b; }
  .item-icon:hover {
    fill: #fff; }

/*# sourceMappingURL=main.css.map */
