//colors
$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red:  #e35028;

//breakpoints
$pc: 940px;
$tablets: 768px;
$phones: 480px;

//normalize
@import "./layout/normalize.css";

//for adaptive
@import './_misc/media.scss';

//layout
@import "./layout/layout.scss";
@import "./layout/fonts.scss";
//blocks
@import "./blocks/first-screen.scss";
@import "./blocks/main__cont.scss";
@import "./blocks/arrow.scss";
@import "./blocks/header.scss";
@import "./blocks/we__list.scss";
@import "./blocks/form.scss";
@import "./blocks/we.scss";
@import "./blocks/feedback.scss";
@import "./blocks/sidemenu.scss";
@import "./blocks/team.scss";
@import "./blocks/team__acord.scss";
@import "./blocks/menu.scss";
@import "./blocks/menu-accordeon.scss";
@import "./blocks/map.scss";
@import "./blocks/footer.scss";
@import "./blocks/address.scss";
@import "./blocks/socials.scss";
@import "./blocks/hamburger-menu.scss"