.menu {
    background: url(../img/menu/bg_menu.jpg) center center /cover    no-repeat; 
    position: relative;
}
.menu__title {
    position: absolute;
    top: rem(110px);
    left: rem(75px);
    color: white;
    @include tablets {
        overflow: hidden;
    }
    @include phones {
        display: none;
    }
}