.we__list  {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    @include phones {
        flex-direction: column;
    }
}
.we__item {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    margin-right: rem(10px);
    @include phones {
        flex-direction: initial;
    }
}
.we__icon {
    width: rem(97px);
    height: rem(89px);
    margin-bottom: rem(38px);
    @include phones {
        margin-right: rem(25px);
    }
}
.we__title{
    align-self: center;
    font-family: 'lifehack';
    text-align: center;
    font-size: rem(24px);
    margin-bottom: rem(20px);
    @include phones {
        text-align: initial;
    }
}
.we__text {
    font-family: 'ubuntu';
    text-align: center;
    font-size: rem(14px);
    line-height: 1.5em;
}