.arrow {
    display: flex;
    justify-content: center;
    &__btn {
        text-decoration: none;
        width: 30px;
        height: 29px;
        background: url(../img/first_screen/arrow-scroll.png) center center no-repeat;
    }
}