.arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.arrow__scroll {
  cursor: pointer;
  width: rem(29px);
  height: rem(14px); }

.arrow__bottom {
  -webkit-animation: arrow-bottom 1.3s infinite;
          animation: arrow-bottom 1.3s infinite; }
@-webkit-keyframes arrow-bottom {
  0% {
    -webkit-transform: translatey(-50%);
            transform: translatey(-50%); }
  5% {
    -webkit-transform: translatey(-45%);
            transform: translatey(-45%); }
  10% {
    -webkit-transform: translatey(-35%);
            transform: translatey(-35%); }
  15% {
    -webkit-transform: translatey(-25%);
            transform: translatey(-25%); }
  20% {
    -webkit-transform: translatey(-15%);
            transform: translatey(-15%); }
  25% {
    -webkit-transform: translatey(-5%);
            transform: translatey(-5%); }
  30% {
    -webkit-transform: translatey(0%);
            transform: translatey(0%); }
  35% {
    -webkit-transform: translatey(5%);
            transform: translatey(5%); }
  40% {
    -webkit-transform: translatey(15%);
            transform: translatey(15%); }
  45% {
    -webkit-transform: translatey(25%);
            transform: translatey(25%); }
  50% {
    -webkit-transform: translatey(35%);
            transform: translatey(35%); }
  55% {
    -webkit-transform: translatey(45%);
            transform: translatey(45%); }
  100% {
    -webkit-transform: translatey(50%);
            transform: translatey(50%); }
  65% {
    -webkit-transform: translatey(35%);
            transform: translatey(35%); }
  70% {
    -webkit-transform: translatey(15%);
            transform: translatey(15%); }
  75% {
    -webkit-transform: translatey(5%);
            transform: translatey(5%); }
  80% {
    -webkit-transform: translatey(-5%);
            transform: translatey(-5%); }
  85% {
    -webkit-transform: translatey(-15%);
            transform: translatey(-15%); }
  90% {
    -webkit-transform: translatey(-25%);
            transform: translatey(-25%); }
  95% {
    -webkit-transform: translatey(-35%);
            transform: translatey(-35%); }
  100% {
    -webkit-transform: translatey(-50%);
            transform: translatey(-50%); } }
@keyframes arrow-bottom {
  0% {
    -webkit-transform: translatey(-50%);
            transform: translatey(-50%); }
  5% {
    -webkit-transform: translatey(-45%);
            transform: translatey(-45%); }
  10% {
    -webkit-transform: translatey(-35%);
            transform: translatey(-35%); }
  15% {
    -webkit-transform: translatey(-25%);
            transform: translatey(-25%); }
  20% {
    -webkit-transform: translatey(-15%);
            transform: translatey(-15%); }
  25% {
    -webkit-transform: translatey(-5%);
            transform: translatey(-5%); }
  30% {
    -webkit-transform: translatey(0%);
            transform: translatey(0%); }
  35% {
    -webkit-transform: translatey(5%);
            transform: translatey(5%); }
  40% {
    -webkit-transform: translatey(15%);
            transform: translatey(15%); }
  45% {
    -webkit-transform: translatey(25%);
            transform: translatey(25%); }
  50% {
    -webkit-transform: translatey(35%);
            transform: translatey(35%); }
  55% {
    -webkit-transform: translatey(45%);
            transform: translatey(45%); }
  100% {
    -webkit-transform: translatey(50%);
            transform: translatey(50%); }
  65% {
    -webkit-transform: translatey(35%);
            transform: translatey(35%); }
  70% {
    -webkit-transform: translatey(15%);
            transform: translatey(15%); }
  75% {
    -webkit-transform: translatey(5%);
            transform: translatey(5%); }
  80% {
    -webkit-transform: translatey(-5%);
            transform: translatey(-5%); }
  85% {
    -webkit-transform: translatey(-15%);
            transform: translatey(-15%); }
  90% {
    -webkit-transform: translatey(-25%);
            transform: translatey(-25%); }
  95% {
    -webkit-transform: translatey(-35%);
            transform: translatey(-35%); }
  100% {
    -webkit-transform: translatey(-50%);
            transform: translatey(-50%); } }
.arrow__btn--left {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }

.arrow__btn--right {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg); }

/*# sourceMappingURL=arrow.css.map */