.burgers__container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.slider-items {
    display: flex;
    max-width: rem(880px);
    position: relative;
}
.slider{
    display: flex;
    position: relative;
    @include tablets {
        flex-direction: column;
    }
}
.slider__text{
    color: #fff;
    line-height: 2;
    margin-bottom: rem(15px);
}
.slider__order {
    display: flex;
    align-items: flex-end;
    @include tablets {
        justify-content: center;
    }
}
.slider__price {
    font-family: 'gagalin';
    letter-spacing: 0.02em;
    color: $orange;
    font-size: rem(70px);
    margin-right: rem(10px);
    &--currency {
        font-size: rem(40px);
        margin-right: rem(20px);
    }
}
