.burgers__container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.slider{
    display: flex;
    position: relative;
    @include tablets {
        flex-direction: column;
    }
}
.slider__cont__item{
    color: #fff;
    @include tablets {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 95%
    }
}
.title{
    &__white {
        color: #fff;
        margin-bottom: rem(25px);
    }
}
.cont__text{
    line-height: 2;
    margin-bottom: rem(15px);
}
.slider__order {
    display: flex;
    align-items: flex-end;
    @include tablets {
        justify-content: center;
    }

}
.cont__price {
    font-family: 'gagalin';
    letter-spacing: 0.02em;
    color: $orange;
    font-size: rem(70px);
    margin-right: rem(10px);
    &--currency {
        font-size: rem(40px);
        margin-right: rem(20px);
    }
}
.arrow__btn {
    &--left {
        transform: rotate(90deg);
    }
}
.arrow__btn {
    &--right {
        transform: rotate(-90deg);
    }
}