.feedback__list{
    background: $black;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style-type: none;
    color: #fff;
}
.feedback__item{
    width: 25%;
    height: 50%;
    position: relative;
    background-position: center;
    background-size: cover;
    @include tablets {
        width: 50%;
        height: 25%;
    }
    .feedback__content{
        background-color: rgba(20,20,20,0.7);
        position: absolute;
        top: 0;
        left: 0;
        padding: rem(50px) rem(30px) rem(15px) rem(20px);
        display: flex;
        flex-direction: column;
        opacity: 0;
        height: 100%;
        width: 100%;
        @include tablets {
            align-items: center;
        }
        .feedback__text{
            overflow: hidden;
            @include phones {
                display: none;
            }
        }
        &:hover {
            opacity: 1;
            transition: 0.5s;
        }
    }
}
.feedback__user{
    margin-bottom: rem(22px);
    font-family: 'gagalin';
    font-size:   rem(14px);
    @include phones {
        font-size:   rem(24px);
        text-align: center;
    }
}

.feedback__text{
        font-family: 'ubuntu';
        font-size: rem(14px);
        font-weight: 300;
        line-height: 1.70em;
        margin: 0 0 rem(25px) 0;
}