.order{
    background: url(../img/form/bg-texture.jpg) center center /cover no-repeat;
    font-weight: 300;
}
.order__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form {
    display: flex;
    @include tablets {
        width: 95%;
        flex-direction: column;
        align-items: center;
    }
}
.form__column{
    width: 50%;
    @include tablets {
        width: 75%;
    }
    @include phones {
        width: 98%;
    }
    &--center {
        @include phones {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}
.form__row{
    color: #fff;
    margin-bottom: rem(15px);
    display: flex;
    align-items: center;
    width: 100%;
    &--margin{
        @include phones {
            margin-bottom: rem(40px);
        }
    }
}
.form__block {
    flex: 1;
    margin-right: rem(15px);
    &--invisible{
        @include phones {
            display: none;
        }
    }
}
.form__text{
    margin-bottom: rem(10px);
}
.form__input{
    border: initial;
    padding: rem(5px) rem(5px);
    width: 100%;
    border-radius: rem(5px);
    border: rem(3px) solid transparent;
    &:focus{
        border: rem(3px) solid $yellow;
    }
}
.form__area {
    padding: rem(10px);
    resize: vertical;
    border: rem(3px) solid transparent;
    border-radius: rem(5px);
    width: 100%;
    height: rem(96px);
    &:focus{
        outline: none;
        border: rem(3px) solid $yellow;
    }
    @include phones {
        height: rem(49px);
    }
}
.payment__col{
    display: flex;
    margin-right: rem(20px);
    cursor: pointer;
    margin-bottom: rem(25px);
}
.payment__radio {
    display: none;
}
.payment__radio-fake{
    display: block;
    width: rem(17px);
    height: rem(17px);
    border-radius: 50%;
    background-color: #fff;
    margin-right: rem(7px);
    position: relative;
    &:before{
        content: "";
        display: block;
        width: rem(7px);
        height: rem(7px);
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.payment__radio {
    &:checked ~.payment__radio-fake:before {
        background-color: $orange;
        transition: 0.3s;
    }
}
.recallrequest{
    display: flex;
    cursor: pointer;
}
.recallrequest__checkbox {
    display: none;
    &:checked ~.recallrequest__checkbox-fake{
        background-image: url(../img/form/checkmark.jpg);
        background-position: center;
        background-repeat: no-repeat;
    }
}
.recallrequest__checkbox-fake {
    content: "";
    display: block;
    position: relative;
    width: rem(17px);
    height: rem(17px);
    background-color: #fff;
    margin-right: rem(10px);
    &:before{
        content: "";
        display: block;
        width: rem(17px);
        height: rem(13px);       
    }
}
.resetform{
    background: none;
    border: none;
    color: #fff;
    margin-left: rem(25px);
    cursor: pointer;
}

