body.blocked-scroll {
    overflow: hidden;
}
.fullscreen-menu {
    display: none;
    position: fixed;
    top: 0;    left: 0;    right: 0;    bottom: 0;
    width: 100%;
    height: 100%;
    padding: rem(10px) rem(25px);
    background-color: #2f3234;
    // позиционирование flex 
    align-items: flex-start;
    justify-content: space-between;
    z-index: 10000;
}
.fullscreen-menu__icon {
    width: rem(90px);
    height: rem(70px);
}
.fullscreen-menu__list {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fullscreen-menu__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
    margin-bottom: rem(30px);
     &:before {
        content: "";
        display: block;
        margin-bottom: rem(30px);
        width: rem(2px);
        height: rem(2px);
        border: rem(2px) solid #fff;
        border-radius: 50%;
        }
}
.fullscreen-menu__item:first-child{
    &:before {
        display: none;
    }
}
.fullscreen-menu__link{
    color: #efefef;
    text-decoration: none;
    font-weight: 500;
    font-size: rem(13px);
    text-transform: uppercase;
}
.fullscreen-menu__close{
    background: #c1c2c2;
    height: 20px; width: 4px;
    position: relative;
    left: rem(-30px);
    top: rem(30px);
    transform: rotate(-45deg);
     &:after{
    content: "";
    height: 4px; width: 20px;
    background: #c1c2c2;
    position: absolute; left: -8px; top: 8px;}
}