.maincontent{
    display: flex;
    margin-bottom: rem(81px);
    align-items: center;
    flex: 1;
    justify-content: center;
    @include tablets {
        flex-direction: column;
        justify-content: center;
    }
}
.main__pic{
    position: relative;
    margin-left: rem(52px);
    @include phones {
        width: 100%;
        height: auto;
    }
}
.pic__burger {
    width: 100%;
    height: auto;
}
.pic__drops{
    position: absolute;
    top: 16%;
    left: -3%;
    transform: translate(-50% -50%);
    width: 100%;
    height: auto;
}
.main__text{
    padding-left: rem(12px);
    padding-top: rem(60px);
    color: #efefef;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include tablets {
        padding-top: rem(10px);
        text-align: center;
    }
}
.title  {
    display: inline-block;
    font-family: 'gagalin';
    font-size: rem(70px);
    letter-spacing: 0.02em;
    &__yellow{
        color: $yellow;
        font-size: rem(75px);
    }
}
.text__regular{
    display: inline-block;
    font-family: 'lifehack';
    font-size: rem(65px);
    letter-spacing: -0.1rem;
    line-height: 1.01em;
    margin: rem(0px);
    @include tablets {
        width: 99%;
        text-align: center;
    }
}