.menu-accordeon {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 70%;
    display: flex;
    justify-content: flex-end;
}
.menu-accordeon__list {
    display: flex;
    flex-wrap: wrap;
}
.menu-accordeon__item {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.menu__title-triger{
    font-family: 'Gagalin', Helvetica, sans-serif;
    font-size: 40px;
    padding: 25px 0 25px 40px;
}