.menu-accordeon {
    display: flex;
    justify-content: flex-end;
    height: 100%;
}
.menu-accordeon__list {
    color: #fff;
    font-size: 16px;
    display: flex;
    height: 100%;
}
.menu-accordeon__item {
    height: 100%;
    display: flex;
}
.menu-accordeon__triger {
    display: inline-block;
    min-width: rem(80px);
    width: rem(80px);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}
.menu-accordeon__triger-text {
    text-decoration: none;
    font-size: 40px;
    color: #FFF;
    position: absolute;
    font-family: 'gagalin', helvetica, sans-serif;
    top: 90%;
    left:50%;
    transform: rotate(-90deg);
    white-space: nowrap;
    transform-origin: 0 50%;
    &--active {
        color: $yellow;
    }
}

.menu-accordeon__cont {
    width: 0;
    overflow: hidden;
    &--active{
        width: rem(550px);
        background-color: rgba(59, 57, 54, 0.7);
    }
}

.menu-accordeon__text {
    padding: rem(70px) rem(40px);
}