.socials__list{
    display: flex;
    justify-content: flex-end; 
}
.socials__item {
    margin-right: rem(20px);
    &:last-child {
        margin-right: 0;
    }
}
.socials__item-link{
    display: block;
    width: rem(20px);
    height: rem(20px);
}
.socials__icon {
    width: rem(20px);
    height: rem(20px);
    transition: 0.3s;
    fill: #5b5b5b;
    &:hover {
        fill: #fff;
    }
}