.we__list  {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    margin-top: 50px;
}
.list__item {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    margin-right: 10px;
}
.item__pic{
    margin-bottom: 38px;
}
.item__title{
    align-self: center;
    font-family: 'lifehack';
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}
.item__desc {
    font-family: 'ubuntu';
    text-align: center;
    font-size: 14px;
    line-height: 1.5em;
}